# To get your api_id and api_hash, visit: https://my.telegram.org
#
# You will also need a bot token from @BotFather,
# the program will prompt you for it when it attempts its first upload

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHANNEL=https://t.me/somethingsomething
UPLOAD_FOLDER=watch_folder